<li class="nav-item dropdown mr-3">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter Price</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <div class="d-flex justify-content-center">
            <form method="POST" action="/book/filter" style="width: 90%;">
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="min" name="min">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" placeholder="max" name="max">
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</li>