<% include hf/header%>
<% include log-reg %>
<div style="background-image: url('https://stmed.net/sites/default/files/book-wallpapers-28442-3045404.jpg');height: 37.5rem;background-repeat: no-repeat;background-size: cover;">
    <H1 class="text-center display-1 text-light pt-5 pb-3" style="font-weight: 600; font-family: 'Metal Mania', cursive; letter-spacing: 2px;">Welcome to BookStop</H1>
    <div class="d-flex justify-content-center">
        <a href="/book/index" class="btn btn-lg btn-light text-primary">Let's go!!!</a>
    </div>
</div>
<% include hf/footer %>